<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>Admin Dashboard</h2>

    <form action="{{ url_for('unverified_profiles_page') }}" method="get">
        <input type="submit" value="Unverified Profiles">
    </form>

    <form action="{{ url_for('user_list_page') }}" method="get">
        <input type="submit" value="User List">
    </form>

    <form action="{{ url_for('add_admin') }}" method="get">
        <input type="submit" value="Add Admin User">
    </form>

    <a href="{{ url_for('dashboard') }}">Return to Dashboard</a><br>
    <a href="{{ url_for('index') }}">Return to Home Page</a>
</body>
</html>