<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile Account</title>
</head>
<body>
    <h2>Edit Admin Profile</h2>
    <form method="POST" action="{{ url_for('admin_edit', user_id=user.userid) }}" enctype="multipart/form-data">

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ user.username }}"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="{{ user.password }}"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ user.email }}"><br><br>
        <input type="submit" value="Update">
    </form>
    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
</body>
</html>