<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        .button {
            /* existing styles... */
        }

            .profile-picture {
            width: 100px;
            height: auto;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>Admin Dashboard</h2>


    <img class="profile-picture" src="{{ url_for('static', filename='default_picture/default-admin.jpg') }}" alt="Default Profile Picture" >





    <form action="{{ url_for('unverified_profiles_page') }}" method="get">
        <input class="button" type="submit" value="Unverified Profiles">
    </form>

    <form action="{{ url_for('user_list_page') }}" method="get">
        <input class="button" type="submit" value="Athlete User List">
    </form>

    <form action="{{ url_for('company_user_list_page') }}" method="get">
        <input class="button" type="submit" value="Company User List">
    </form>

     <form action="{{ url_for('admin_user_list_page') }}" method="get">
        <input class="button" type="submit" value="Admin User List">
    </form>




    <form action="{{ url_for('add_admin') }}" method="get">
        <input class="button" type="submit" value="Add Admin User">
    </form>

    <form action="{{ url_for('admin_edit', user_id=current_user.userid) }}" method="get">
        <input class="button" type="submit" value="Edit Account">
    </form>

      <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('index') }}">Return to Home Page</a>
</body>
</html>