<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='profile_picture/Pepsi-logo.png') }}" />

    <style>
        body {
            overflow-x: hidden;
        }

        nav ul {
            padding: 0;
            list-style: none;
        }

        nav ul li {
            display: inline-block;
            margin: 5px;
        }

        nav ul li a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }

        nav ul li a:hover {
            background-color: #0056b3;
        }

        .support-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #28a745;
            /* You can choose a different color */
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            /* Adjust the margin as needed */
        }

        .support-button:hover {
            background-color: #218838;
            /* Darker green for hover effect, adjust as needed */
        }
    </style>
</head>

<body>
    <!-------------------------------------------------------------------------------------------------->
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom m-2 p-2 bg-success-subtle rounded-4">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="{{ url_for('static', filename='images/SponsorIN_Logo_White.png') }}" alt="SponsorIn_Logo"
                    style="width: 300px; height: 100px" />
            </a>
        </div>
        <div class="col-md-3 mb-2 mb-md-0 text-center">
            <h2>Athlete Dashboard</h2>
        </div>

        <div class="col-md-3 text-end">
            <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">Return to Home</a>
            <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
        </div>
    </header>
    <!-------------------------------------------------------------------------------------------------->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <div class="text-center">
        <div class="row align-items-center  justify-content-center">
            <div class="col-8 col-lg-3 border border-secondary bg-success-subtle rounded-4 m-2 p-2 align-self-start">

                <p>You are logged in as: {{ current_user.username }}</p>

                <div class="container my-2">

                    {% if profile and profile.profilepicture %}
                    <img style="width:300px; height:auto;"
                        src="{{ url_for('static', filename=profile.profilepicture) }}" alt="Profile Picture">
                    {% else %}
                    {% if profile and profile.profilepicture %}
                    <img class="profile-picture" src="{{ url_for('static', filename=profile.profilepicture) }}"
                        alt="Profile Picture">
                    {% else %}
                    <img src="{{ url_for('static', filename='profile_picture/defualtpicture.png') }}"
                        alt="Default Profile Picture">
                    {% endif %}

                    {% endif %}

                </div>
                <hr class="my-4" />

                <div class="modal-body p-5 pt-0">

                    {% if current_user.usertype == 'Athlete' and athlete_profile %}
                    <p><strong>Full Name:</strong> {{ profile.fullname }}</p>
                    <p><strong>Bio:</strong> {{ profile.bio }}</p>
                    <p><strong>Gender:</strong> {{ athlete_profile.gender }}</p>
                    <p><strong>Sports Category:</strong> {{ athlete_profile.sportscategory }}</p>
                    <p><strong>College:</strong> {{ athlete_profile.college.collegename if athlete_profile.college else
                        'Not
                        specified' }}</p>
                    {% elif current_user.usertype == 'Company' and company_profile %}
                    <p><strong>Company Name:</strong> {{ company_profile.companyname }}</p>
                    {% endif %}





                    <hr class="my-4" />

                    <div class="btn-group" aria-label="Basic example">


                        {% if not profile_exists %}

                        <a href="{{ url_for('create_profile') }}" class="btn btn-outline-success">Create Profile</a>
                        {% else %}

                        <a href="{{ url_for('edit_profile') }}" class="btn btn-outline-warning">Edit Profile</a>

                        {% endif %}

                        <a href="{{ url_for('delete_account') }}" class="btn btn-outline-danger"
                            onclick="return confirm('Are you sure you want to delete your account? This action is irreversible.');">Delete
                            Account</a>

                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-8 bg-success-subtle rounded-4 m-2 p-2 border border-secondary align-self-center ">
                <div class="row my-2">
                    <div class="col-6">
                        <h3 class="fw-semibold">View Companies</h1>
                    </div>

                    <div class="col-4 text-end">

                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a href="{{ url_for('view_company') }}" class="btn btn-outline-primary">View Companies</a>
                            <a href="{{ url_for('view_offers') }}" class="btn btn-success">View Offers</a>
                             <a href="{{ url_for('view_messages') }}" class="btn btn-outline-info">View Messages</a>
                             <a href="{{ url_for('view_sponsors') }}" class="btn btn-outline-info">Company Sponsors</a>

                        </div>


                     

                    </div>

                </div>

                <div class="row" id="section1">
                    <div id="color-container2">


                        <div class="album py-5">
                            <div class="container">
                                <div class="row">

                                    {% for company, user_id in companies %}

                                    <div class="col-md-4">

                                        <div class="col">
                                            <div class="card shadow-sm">

                                                {% if company.companylogo %}
                                                <img src="{{ url_for('static', filename=company.companylogo) }}"
                                                    alt="Company Logo" width="100%" height="190" class="rounded-3">

                                                {% else %}
                                                <img src="{{ url_for('static', filename='default_picture/default_company.png') }}"
                                                    alt="Default Company Logo" width="100%" height="190" class="rounded-3">

                                                {% endif %}



                                                <div class="card-body">
                                                    <h6 class="card-title ">
                                                        {{ company.companyname }}
                                                    </h6>

                                                    <p class="card-text">
                                                    <ul class="list-group list-group-flush">

                                                    </ul>

                                                    </p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="btn-group">


                                                            <a href="{{ url_for('view_single_company', company_id=company.companyprofileid) }}"
                                                                class="btn btn-sm btn-outline-success">
                                                                View Details</a>
                                                            <a href="{{ url_for('send_message', receiver_id=user_id) }}"
                                                                class="btn btn-sm btn-outline-success">
                                                                Send Message</a>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    </div>

                   
                </div>
            </div>
        </div>
    </div>





    <!---------------------------------------------------------------------------

    <p>You are logged in as: {{ current_user.username }}</p>

  
  {% if profile and profile.profilepicture %}
   <img style="width:300px; height:auto;" src="{{ url_for('static', filename=profile.profilepicture) }}" alt="Profile Picture">
{% else %}
 {% if profile and profile.profilepicture %}
        <img class="profile-picture" src="{{ url_for('static', filename=profile.profilepicture) }}" alt="Profile Picture">
    {% else %}
    <img src="{{ url_for('static', filename='profile_picture/defualtpicture.png') }}" alt="Default Profile Picture">
    {% endif %}

{% endif %}


    {% if current_user.usertype == 'Athlete' and athlete_profile %}
        <p><strong>Full Name:</strong> {{ profile.fullname }}</p>
         <p><strong>Bio:</strong> {{ profile.bio }}</p>
        <p><strong>Gender:</strong> {{ athlete_profile.gender }}</p>
        <p><strong>Sports Category:</strong> {{ athlete_profile.sportscategory }}</p>
        <p><strong>College:</strong> {{ athlete_profile.college.collegename if athlete_profile.college else 'Not specified' }}</p>
    {% elif current_user.usertype == 'Company' and company_profile %}
        <p><strong>Company Name:</strong> {{ company_profile.companyname }}</p>
    {% endif %}



    <nav>
        <ul>
            {% if not profile_exists %}
                <li><a href="{{ url_for('create_profile') }}">Create Profile</a></li>
            {% else %}
                <li><a href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
            {% endif %}
            <li><a href="{{ url_for('view_company') }}">View Companies</a></li>
            <li><a href="{{ url_for('delete_account') }}" onclick="return confirm('Are you sure you want to delete your account? This action is irreversible.');">Delete Account</a></li>
            <li><a href="{{ url_for('view_offers') }}">View Offers</a></li>
           <li> <a href="{{ url_for('view_sponsors') }}" class="btn btn-primary">View My Sponsors</a></li>

            <li><a href="{{ url_for('view_messages') }}" class="button">View Messages</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>


     <a href="{{ url_for('contact_support') }}" class="support-button">Contact Support</a>

    <a href="{{ url_for('index') }}" class="home-button">Return to Home</a>

-->
</body>

</html>