<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>SponsorIN</h1>
    <p>You are logged in as: {{ current_user.username }}</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

  {% if profile and profile.profilepicture %}
   <img style="width:300px; height:auto;" src="{{ url_for('static', filename=profile.profilepicture) }}" alt="Profile Picture">
{% else %}
    <img src="{{ url_for('static', filename='default-profile-picture.png') }}" alt="Default Profile Picture">
{% endif %}


    {% if current_user.usertype == 'Athlete' and athlete_profile %}
        <p><strong>Full Name:</strong> {{ profile.fullname }}</p>
         <p><strong>Bio:</strong> {{ profile.bio }}</p>
        <p><strong>Gender:</strong> {{ athlete_profile.gender }}</p>
        <p><strong>Sports Category:</strong> {{ athlete_profile.sportscategory }}</p>
        <p><strong>College:</strong> {{ athlete_profile.college.collegename if athlete_profile.college else 'Not specified' }}</p>
    {% elif current_user.usertype == 'Company' and company_profile %}
        <p><strong>Company Name:</strong> {{ company_profile.companyname }}</p>
    {% endif %}

    <nav>
        <ul>
            {% if not profile_exists %}
                <li><a href="{{ url_for('create_profile') }}">Create Profile</a></li>
            {% else %}
                <li><a href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
            {% endif %}
            <li><a href="{{ url_for('delete_account') }}" onclick="return confirm('Are you sure you want to delete your account? This action is irreversible.');">Delete Account</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>



    <a href="{{ url_for('index') }}" class="home-button">Return to Home</a>
</body>
</html>
