<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>SponsorIN</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if not current_user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
            </ul>
        </nav>
    {% else %}
        <a href="{{ url_for('dashboard') }}">Go to Dashboard</a> |
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    <br>

    <a href="{{ url_for('about_us') }}" class="btn">About Us</a>
</body>
</html>

