<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>

    <!-- Display flashed messages from Flask -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('signup') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <label for="usertype">User Type:</label>
        <select name="usertype">
            <option value="Athlete">Athlete</option>
            <option value="Company">Company</option>

        </select>

        <input type="submit" value="Signup">
    </form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</body>
</html>
