<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Messages</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='profile_picture/Pepsi-logo.png') }}" />
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <!---------------------------------------------------------------------------->

    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom m-2 p-5 bg-primary-subtle rounded-4">
        <div class="col-md-3 mb-md-0 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="{{ url_for('static', filename='images/SponsorIN_Logo_White.png') }}" alt="SponsorIn_Logo"
                    style="width: 300px; height: 120px" />
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <h2 class="fw-bold">Messages</h2>

        </div>
        <div class="col-md-3 text-end">
            <a href="{{ url_for('company_dashboard') }}" class="btn btn-outline-secondary">Back to Dashboard</a>
        </div>
    </header>
    <!---------------------------------------------------------------------------->


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% if users %}


    <div class="container">

        <form method="GET" action="{{ url_for('view_messages') }}" class="row g-3 ">

            <div class="col-md-5">

                <input type="text" name="search" class="form-control" placeholder="Search by username..."
                    value="{{ request.args.get('search', '') }}">
            </div>

            <div class="col-md-2">

                <select class="form-select" name="user_type">
                    <option value="" selected>All User Types</option>
                    <option value="admin" {% if request.args.get('user_type')=='admin' %}selected{% endif %}>Admin
                    </option>
                    <option value="company" {% if request.args.get('user_type')=='company' %}selected{% endif %}>Company
                    </option>
                    <option value="athlete" {% if request.args.get('user_type')=='athlete' %}selected{% endif %}>Athlete
                    </option>
                </select>
            </div>
            <div class="col-md-2">

                <input type="submit" class="form-control" value="Search">
            </div>
        </form>

    </div>

    <!------------------------------------>
    <div class="container my-4 rounded-3 ">
        <table class="table table-striped-columns border border-warning-subtle" border="1">
            <thead>

                <tr>
                    <th scope="col">User</th>
                    <th scope="col">User Type</th>
                    <th scope="col">Actions</th>
                </tr>

                {% for user in users %}
            </thead>
            <tbody>

                <tr>
                    <td>
                        <img src="{{ url_for('static', filename=user.profile.profilepicture) if user.profile.profilepicture else url_for('static', filename='default_profile_pic.jpg') }}"
                            alt="Profile Picture" style="width: 50px; height: 50px;">
                        <a href="{{ url_for('view_conversation', other_user_id=user.userid) }}">{{ user.profile.fullname
                            if
                            user.profile else user.username }}</a>
                    </td>
                    <td>{{ user.usertype }}</td>
                    <td>
                        <form action="{{ url_for('delete_conversation_route', other_user_id=user.userid) }}"
                            method="post" style="display: inline;">
                            <input type="submit" value="Delete Conversation"
                                onclick="return confirm('Are you sure you want to delete this conversation?');">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="container ">

        {% else %}
        <p class="fw-bold text-center ">You have no messages.</p>
        {% endif %}
    </div>

</body>

</html>